<!DOCTYPE html>
<html lang="en">
    <head>
        <title>You created an entry</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body class="text-box">
        <h1>You created an entry to your account!</h1>
    </body>
</html>
