<!DOCTYPE html>
<html lang ="en">
<head>
  <title>HOME PAGE</title>
  <link rel="stylesheet" href="style.css">
  <link href= "styles.css" type="text/css" rel="stylesheet"/>
</head>

<body class = "back">
  <div class = "split left centered">
  </div>
  <div class = "split right ">
    <div class = "centered"> 
       <h1> Dam Journal</h1>
       <h2>drip or drown</h2>

       
       <div class="container">
        <form method="post" action="/home">
          <p>
            <label for="WaterDrank"><b>Water Drank Today: </b></label>
            <input type = "text" placeholder="Enter water (oz)" name="WaterDrank" id ="WaterDrank">
          </p>
        </form>
        <form method="post" action="/new_entry">
          <input type = "submit" value="Add to total">
        </form>
    </div>

   
  </div>
</body>

  
</body>
  
</body>
</html>    
