<!DOCTYPE html>
<html lang ="en">
<head>
  <title>LOGIN PAGE</title>
  <link rel="stylesheet" href="style.css">
  <link href= "styles.css" type="text/css" rel="stylesheet"/>
</head>

<body class = "back">
  <div class = "split left centered">
  </div>
  <div class = "split right ">
    <div class = "centered"> 
       <h1> Dam Journal</h1>
       <h2>CREATE ACCOUNT</h2>

       
       <div class="container">
        <form method="post" action="/new_user">
          <p>
            <label for="name"><b>Name</b></label>
            <input type = "text" placeholder="Enter name" name="name" id ="name">
          </p>        
          <p>
            <label for="username"><b>Username</b></label>
            <input type = "text" placeholder="Enter Username" name="username" id ="username">
          </p>
          <p>
            <label for="password"><b>Password</b></label>
            <input type = "text" placeholder="Enter Password" name="password" id ="password">
          </p>
          <p>
            <label for="watergoal"><b>Water Goal</b></label>
            <input type = "text" placeholder="Enter watergoal" name="watergoal" id ="watergoal">
          </p>
        </form>
        <form method="post" action="/home">
          <input type = "submit" value="Create new account">
        </form>
       </div>
    </div>

   
  </div>
</body>

  
</body>
  
</body>
</html>    
